<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/food/views/form1.html
Date: January 22, 2020
-->
<!-- FAT FREE INCLUDES STYLE -->
<include href="views/header.html">
<body>
<h1>Food Order</h1>
<form method="post" action="#">
    <label for="food">What would you like to order?
        <input type="text" name="food" id="food">
    </label><br>
    <check if="{{ isset(@errors['food']) }}">
        <span style="color: red; font-size: small">{{ @errors['food'] }}</span><br><br>
    </check>
    <input type="submit" value="Next >>">
</form>
</body>
</html>