<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/food/views/form2.html
Date: January 22, 2020
-->
<!-- FAT FREE INCLUDES STYLE -->
<include href="views/header.html">
<body>
<h1>Food Order</h1>
<form method="post" action="order3">
    <p>Which meal?<br>
        <repeat group="{{ @meals }}" value=" {{ @meal }}">
            <label><input type="radio" name="meal" value="{{ @meal }}"></label>{{ ucfirst(@meal) }}<br>
        </repeat>
    </p>
    <input type="submit" value="Next >>">
</form>
</body>
</html>
