<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/food/views/form3.html
Date: January 22, 2020
-->
<!-- FAT FREE INCLUDES STYLE -->
<include href="views/header.html">
<body>
<h1>Food Order</h1>
<form method="post" action="summary">
    <p>Select a Drink</p>
        <repeat group="{{ @drinks }}" value="{{ @drink }}">
            <label><input type="checkbox" name="drinks[]" value="{{ @drink }}">{{ ucfirst(@drink) }}</label><br>
        </repeat><br>
    <input type="submit" value="Next >>">
</form>
</body>
</html>
