<!--
@author Shayna Jamieson
@version 1.0
URL: http://sjamieson.greenriverdev.com/328/food/views/order.html
Date: January 22, 2020
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Assignment</title>
</head>
<body>
<h1>Food Order</h1>
<form>
    <label for="order">What would you like to order?
        <input type="text" name="order" id="order">
        <input type="submit" value="Next>>">
    </label>
</form>
</body>
</html>